<!DOCTYPE kpartgui>
<kpartplugin name="cvsplugin" library="libcvsplugin" version="1">
<MenuBar>
    <Menu name="file"><Text>&amp;File</Text>
        <Action name="file_status"/>
        <Separator/>
        <Action name="file_commit"/>
        <Action name="file_add"/>
        <Action name="file_add_binary"/>
    </Menu>
</MenuBar>
</kpartplugin>
