<!DOCTYPE kpartgui>
<kpartplugin name="cvsplugin" library="libcvsplugin" version="1">
<MenuBar>
    <Menu name="file"><Text>&amp;File</Text>
        <Action name="file_status"/>
        <Separator/>
        <Action name="file_commit"/>
        <Action name="file_add"/>
        <Action name="file_add_binary"/>
        <Action name="file_remove"/>
        <Action name="file_revert_local_changes"/>
        <Separator/>
    </Menu>
    <Menu name="view"><text>&amp;View</text>
        <Separator/>
        <Action name="view_log"/>
    </Menu>
    <Menu name="advanced"><text>&amp;Advanced</text>
        <Separator/>
        <Action name="add_watch"/>
        <Action name="remove_watch"/>
    </Menu>
</MenuBar>
</kpartplugin>
