<!DOCTYPE kpartgui>
<kpartplugin name="cvsplugin" library="libcvsplugin" version="3">
<MenuBar>
    <Menu name="file"><Text>&amp;File</Text>
        <Separator/>
        <Action name="file_update"/>
        <Action name="file_status"/>
        <Separator/>
        <Action name="file_commit"/>
        <Action name="file_add"/>
        <Action name="file_add_binary"/>
        <Action name="file_remove"/>
        <Action name="file_revert_local_changes"/>
        <Separator/>
    </Menu>
    <Menu name="view"><text>&amp;View</text>
        <Action name="view_log"/>
        <Action name="view_annotate"/>
        <Action name="view_diff_base"/>
        <Action name="view_diff_head"/>
        <Action name="view_last_change"/>
    </Menu>
    <Menu name="advanced"><text>&amp;Advanced</text>
        <Action name="create_tag"/>
        <Action name="delete_tag"/>
        <Action name="update_to_tag"/>
        <Action name="update_to_head"/>
        <Separator/>
        <Action name="add_watch"/>
        <Action name="remove_watch"/>
        <Separator/>
        <Action name="edit_files"/>
        <Action name="unedit_files"/>
        <Separator/>
        <Action name="lock_files"/>
        <Action name="unlock_files"/>
    </Menu>
    <Menu name="settings"><text>&amp;Settings</text>
        <Separator group="save_merge_group"/>
        <Action name="settings_create_dirs" group="save_merge_group"/>
        <Action name="settings_prune_dirs" group="save_merge_group"/>
        <Action name="settings_update_recursively" group="save_merge_group"/>
        <Action name="settings_commit_recursively" group="save_merge_group"/>
        <Separator group="save_merge_group"/>
    </Menu>
</MenuBar>
<ToolBar name="mainToolBar"><text>Main Toolbar</text>
    <Action name="file_update"/>
    <Action name="file_status"/>
    <Separator lineSeparator="true"/>
    <Action name="file_commit"/>
    <Action name="file_add"/>
    <Action name="file_remove"/>
</ToolBar>
<Menu name="context_popup">
    <Action name="view_log"/>
    <Separator/>
    <Action name="file_update"/>
    <Action name="file_commit"/>
    <Separator/>
    <Action name="file_add"/>
    <Action name="file_remove"/>
</Menu>
<Menu name="folder_context_popup">
    <Separator/>
    <Action name="file_update"/>
    <Action name="file_commit"/>
    <Separator/>
    <Action name="file_add"/>
    <Action name="file_remove"/>
</Menu>
</kpartplugin>
