<!DOCTYPE kpartgui>
<kpartplugin name="svnplugin" library="libsvnplugin" version="1">
<MenuBar>
 <Menu name="file"><Text>&amp;File</Text>
  <Action name="file_add"/>
 </Menu>
</MenuBar>
</kpartplugin>
