<!DOCTYPE kpartgui>
<kpartplugin name="svnplugin" library="libsvnplugin" version="2">
<MenuBar>
    <Menu name="file"><Text>&amp;File</Text>
        <Action name="file_update"/>
        <Action name="file_status"/>
        <Separator/>
        <Action name="file_commit"/>
        <Action name="file_add"/>
        <Action name="file_remove"/>
        <Separator/>
    </Menu>
    <Menu name="view"><text>&amp;View</text>
        <Separator/>
        <Action name="view_log"/>
        <Action name="view_annotate"/>
    </Menu>
    <Menu name="settings"><text>&amp;Settings</text>
        <Separator group="save_merge_group"/>
        <Action name="settings_update_recursively" group="save_merge_group"/>
        <Action name="settings_commit_recursively" group="save_merge_group"/>
        <Separator group="save_merge_group"/>
    </Menu>
</MenuBar>
<ToolBar name="mainToolBar"><text>Main Toolbar</text>
    <Action name="file_update"/>
    <Action name="file_status"/>
    <Separator lineSeparator="true"/>
    <Action name="file_commit"/>
    <Action name="file_add"/>
    <Action name="file_remove"/>
</ToolBar>
<Menu name="context_popup">
    <Action name="view_log"/>
    <Separator/>
    <Action name="file_update"/>
    <Action name="file_commit"/>
    <Separator/>
    <Action name="file_add"/>
    <Action name="file_remove"/>
</Menu>
<Menu name="folder_context_popup">
    <Separator/>
    <Action name="file_update"/>
    <Action name="file_commit"/>
    <Separator/>
    <Action name="file_add"/>
    <Action name="file_remove"/>
</Menu>
</kpartplugin>
