<!DOCTYPE kpartgui>
<kpartplugin name="svnplugin" library="libsvnplugin" version="2">
<MenuBar>
    <Menu name="file"><Text>&amp;File</Text>
        <Action name="file_status"/>
        <Separator/>
        <Action name="file_commit"/>
        <Action name="file_add"/>
        <Action name="file_remove"/>
        <Separator/>
    </Menu>
    <Menu name="view"><text>&amp;View</text>
        <Separator/>
        <Action name="view_log"/>
    </Menu>
</MenuBar>
<ToolBar name="mainToolBar"><text>Main Toolbar</text>
    <Action name="file_status"/>
    <Separator lineSeparator="true"/>
    <Action name="file_commit"/>
    <Action name="file_add"/>
    <Action name="file_remove"/>
</ToolBar>
</kpartplugin>
